**/target
**/.DS_Store
.env

node_modules
.env

# Hardhat files
**/cache
**/artifacts
files/**

# TypeChain files
**/typechain
**/typechain-types

# solidity-coverage files
**/coverage
**/coverage.json

# Hardhat Ignition default folder for deployments against a local node
**/ignition/deployments/chain-31337

**/vendor
latest
